.body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-x: hidden;
}

.image-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./assets/main-mobile.jpg');
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8)), url('./assets/main-mobile.jpg');
    font-family: HyliaSerifBeta-Regular;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.blur {
    filter: blur(4px);
    background-image: url('./assets/main-mobile.jpg');
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./assets/main-mobile.jpg');
}

.root-container {
    height: 100%;
    width: 100%;
    font-family: Calamity-Regular;
}

.experience-container {
    display: flex;
}

.welcome-container {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
    .image-container {
        background-image: url('./assets/main.jpg');
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8)), url('./assets/main.jpg');
        background-position: center center;
        background-size: cover;
    }
    .blur {
        background-image: url('./assets/main.jpg');
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./assets/main.jpg');
    }
}

@media all and (orientation: landscape) and (max-width: 900px) and (-webkit-min-device-pixel-ratio:0) {
    .image-container {
        background-position: 0% 0%;
    }
}

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: white;
    height: 85%;
    align-self: flex-end;
    padding-right: 7vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 50px;
    justify-content: space-between;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes shift {
    0% {
        padding-right: 10px;
    }
    60% {
        padding-right: 13px;
    }
    100% {
        padding-right: 10px;
    }
}

@keyframes shift {
    0% {
        padding-right: 10px;
    }
    60% {
        padding-right: 13px;
    }
    100% {
        padding-right: 10px;
    }
}

.shift {
    -webkit-animation-name: shift;
    animation-name: shift;
}

.landing-text-container {
    display: flex;
    flex-direction: row;
    font-family: HyliaSerifBeta-Regular;
}

.column-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom-half-container {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
}

.routes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 55%;
}

.route-button {
    font-size: clamp(15px, 2.5vmin, 2.5vmin);
    font-style: italic;
    font-weight: 600;
    color: #fffb;
    border: none;
    background: transparent;
    padding: 0;
}

.route-button:hover {
    cursor: pointer;
}

.route-button:focus {
    outline: none;
}

.route-button::-moz-focus-inner {
    border: 0;
}

.credits-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 20%;
}

.credit {
    font-size: 2vmin;
    font-family: Calamity-Regular, Arial, Helvetica, sans-serif;
    font-style: italic;
}

.icon-button-container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    display: none;
    height: 1.5vmin;
    width: 4.5vmin;
    padding-right: 10px;
}

.icon-visible {
    display: flex;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: white;
    animation-iteration-count: infinite;
}

.hide {
    display: none;
}

#experience {
    z-index: 100;
}

.shape {
    align-self: flex-end;
    width: 100%;
    margin: 0 auto;
}

.top {
    height: 0;
    border-width: 0 0 3vmin 1.5vmin;
    border-style: solid;
    border-color: transparent #25282b #25282b transparent;
}

.bottom {
    height: '80%';
    background-color: #25282b;
}

.hovered-experience {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
    flex-direction: row;
    margin-bottom: 10px;
    width: 80%;
    height: 10%;
    min-height: 100px;
    max-width: 475px;
    border-style: solid;
    border-width: 0.5vmin;
    border-color: black;
}

.hovered-experience:hover {
    border-color: white;
}

.animated-triangle {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
}

#top-left {
    left: -0.5vmin;
    top: -0.5vmin;
    border-top: 2vmin solid white;
    border-right: 2vmin solid transparent;
}

#top-right {
    left: calc(100% - 2vmin);
    top: -.5vmin;
    border-top: 2vmin solid white;
    border-left: 2vmin solid transparent;
}

#bottom-left {
    left: -0.5vmin;
    top: calc(100% - 1.5vmin);
    border-bottom: 2vmin solid white;
    border-right: 2vmin solid transparent;
}

#bottom-right {
    left: calc(100% - 1.5vmin);
    top: calc(100% - 1.5vmin);
    border-bottom: 2vmin solid white;
    border-left: 2vmin solid transparent;
}

.hovered-experience:hover #top-left, .hovered-experience:hover #top-right, .hovered-experience:hover #bottom-left, .hovered-experience:hover #bottom-right {
    display: unset;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.upLeft {
    -webkit-animation-name: upLeft;
    animation-name: upLeft;
}

.upRight {
    -webkit-animation-name: upRight;
    animation-name: upRight;
}

.downLeft {
    -webkit-animation-name: downLeft;
    animation-name: downLeft;
}

.downRight {
    -webkit-animation-name: downRight;
    animation-name: downRight;
}

@-webkit-keyframes upLeft {
    0% {
        left: -0.5vmin;
        top: -0.5vmin;
    }
    50% {
        left: -1vmin;
        top: -1vmin;
    }
    100% {
        left: -0.5vmin;
        top: -0.5vmin;
    }
}

@keyframes upLeft {
    0% {
        left: -0.5vmin;
        top: -0.5vmin;
    }
    50% {
        left: -1vmin;
        top: -1vmin;
    }
    100% {
        left: -0.5vmin;
        top: -0.5vmin;
    }
}

@-webkit-keyframes upRight {
    0% {
        left: calc(100% - 1.5vmin);
        top: -.5vmin;
    }
    50% {
        left: calc(100% - 1vmin);
        top: -1vmin;
    }
    100% {
        left: calc(100% - 1.5vmin);
        top: -.5vmin;
    }
}

@keyframes upRight {
    0% {
        left: calc(100% - 1.5vmin);
        top: -.5vmin;
    }
    50% {
        left: calc(100% - 1vmin);
        top: -1vmin;
    }
    100% {
        left: calc(100% - 1.5vmin);
        top: -.5vmin;
    }
}

@-webkit-keyframes downLeft {
    0% {
        left: -0.5vmin;
        top: calc(100% - 1.5vmin);
    }
    50% {
        left: -1vmin;
        top: calc(100% - 1vmin);
    }
    100% {
        left: -0.5vmin;
        top: calc(100% - 1.5vmin);
    }
}

@keyframes downLeft {
    0% {
        left: -0.5vmin;
        top: calc(100% - 1.5vmin);
    }
    50% {
        left: -1vmin;
        top: calc(100% - 1vmin);
    }
    100% {
        left: -0.5vmin;
        top: calc(100% - 1.5vmin);
    }
}

@-webkit-keyframes downRight {
    0% {
        left: calc(100% - 1.5vmin);
        top: calc(100% - 1.5vmin);
    }
    50% {
        left: calc(100% - 1vmin);
        top: calc(100% - 1vmin);
    }
    100% {
        left: calc(100% - 1.5vmin);
        top: calc(100% - 1.5vmin);
    }
}

@keyframes downRight {
    0% {
        left: calc(100% - 1.5vmin);
        top: calc(100% - 1.5vmin);
    }
    50% {
        left: calc(100% - 1vmin);
        top: calc(100% - 1vmin);
    }
    100% {
        left: calc(100% - 1.5vmin);
        top: calc(100% - 1.5vmin);
    }
}