@font-face {
  font-family: 'HyliaSerifBeta-Regular';
  src: local('HyliaSerifBeta-Regular'), url(./fonts/HyliaSerifBeta-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Calamity-Regular';
  src: local('Calamity-Regular'), url(./fonts/Calamity-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Calamity-Bold';
  src: local('Calamity-Bold'), url(./fonts/Calamity-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.root-container {
  height: 100%;
  width: 100%;
  font-family: Calamity-Regular;
}